<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Rattail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Rattail.Properties.Settings>
      <setting name="IndicatorColor" serializeAs="String">
        <value>IndianRed</value>
      </setting>
      <setting name="IndicatorOpacity" serializeAs="String">
        <value>0.8</value>
      </setting>
      <setting name="IndicatorLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
    </Rattail.Properties.Settings>
  </userSettings>

  <appSettings>
    <add key="IndicatorSize" value="1, 1" />
    <add key="RecorderDelay" value="300" />
    <add key="RecorderRetry" value="1" />
    
    <!--动作格式：{0}EventType,{1}Key,{2}X,{3}Y,{4}Message,{5}TimeStamp-->
    <add key="KeyboardDownActionStringFormat" value="[{1}]_" />
    <add key="KeyboardUpActionStringFormat" value="↑[{1}]_" />
    <add key="MouseDownActionStringFormat" value="[{1}]{2},{3}_" />
    <add key="MouseUpActionStringFormat" value="↑[{1}]{2},{3}_" />
    <add key="MessageActionStringFormat" value="{0}:{{{4}}}_" />
    
    <!--热键-->
    <add key="StartRecordHotKeyModifier" value="MOD_ALT"/>
    <add key="StartRecordHotKeyKey" value="Oemtilde"/>
    <add key="StopRecordHotKeyModifier" value="MOD_ALT"/>
    <add key="StopRecordHotKeyKey" value="D1"/>
    <add key="ExitHotKeyModifier" value="MOD_ALT"/>
    <add key="ExitHotKeyKey" value="D0"/>
  </appSettings>
</configuration>